@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}
@media print {
  
  body * {
    visibility: hidden;
  }
  
  #printable-sales-report, 
  #printable-sales-report * {
    visibility: visible;
  }

  
  #printable-sales-report {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
    padding: 0;
  }

  @page {
    size: auto;
    margin: 15mm;
  }
}